<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>出错了</title>
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/css/bootstrap-theme.min.css}">
    <link rel="stylesheet" th:href="@{~/css/main.css}">
    <script th:src="@{~/js/jquery.js}"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>出错了！！！！</h1>
        <p th:text="${message}">服务器错误</p>
        <p><a class="btn btn-primary btn-lg" th:href="@{/}" role="button">回到首页</a></p>
    </div>
</div>
</body>
</html>